@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap");
/*-- fonts --*/
/*-- colors --*/
.hero-div {
  height: inherit;
  background: radial-gradient(43.52% 51.37% at 75.17% 51.43%, rgba(33, 12, 166, 0.2) 0%, rgba(33, 12, 166, 0.144296) 59.15%, rgba(33, 12, 166, 0) 100%);
}

/* flipping class and key frames*/
.flipX {
  display: inline-block;
}

.flipX:hover {
  animation: 1.6s anim-flipX ease-out;
}

@keyframes anim-flipX {
  0% {
    opacity: 0;
    transform: rotateX(90def);
  }
  50% {
    opacity: 1;
    transform: rotateX(720deg);
  }
  100% {
    /* animate nothing to pause animation at the end */
    opacity: 1;
    transform: rotateX(720deg);
  }
}
main {
  display: flex;
  font-style: normal;
  font-size: 4.3vw;
  line-height: 125%;
}
main p {
  margin: 0;
  display: inline;
}
main .section-1 {
  position: relative;
  flex: 2;
}
main .section-2 {
  position: relative;
  flex: 3;
  height: 100%;
}
main .section-2 .collage {
  background-color: lightcoral;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}
main .section-2 .collage .washi-3-client {
  background-color: lightblue;
  position: relative;
  height: 68%;
  width: 43%;
  left: 47%;
  top: 5%;
  z-index: 5;
}
main .section-2 .collage .washi-3-client .container-client {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
main .section-2 .collage .washi-3-client .container-client img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-radius: inherit;
}
main .section-2 .collage .washi-3-client .container-washi-tape-3 {
  position: absolute;
  right: -20%;
  top: -7%;
  transform: rotate(30deg);
  z-index: 100;
  height: -moz-fit-content;
  height: fit-content;
}
main .section-2 .collage .washi-3-client .container-washi-tape-3 #washi-tape-3 {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
main .section-2 .collage .washi-8-fav-hobby {
  background-color: lightgreen;
  position: relative;
  height: 40%;
  width: 55%;
  left: 3%;
  top: -55%;
}
main .section-2 .collage .washi-8-fav-hobby .container-client-fav-hobby {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
main .section-2 .collage .washi-8-fav-hobby .container-client-fav-hobby img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-radius: 20px;
}
main .section-2 .collage .washi-8-fav-hobby .container-washi-tape-8 {
  position: absolute;
  left: -15%;
  top: -15%;
  transform: rotate(-30deg);
  z-index: 100;
}
main .section-2 .collage .washi-8-fav-hobby .container-washi-tape-8 #washi-tape-8 {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
main .section-2 .collage .wax-client {
  background-color: beige;
  position: relative;
  width: 45%;
  height: 32%;
  left: 20%;
  top: -48%;
  z-index: 8;
}
main .section-2 .collage .wax-client .container-client-working {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
main .section-2 .collage .wax-client .container-client-working img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-radius: 20px;
}
main .section-2 .collage .wax-client .container-wax-seal {
  position: absolute;
  left: -15%;
  top: -25%;
  z-index: 100;
}
main .section-2 .collage .wax-client .container-wax-seal #wax-seal {
  max-width: 90px;
  max-height: 90px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}/*# sourceMappingURL=home.css.map */